* {
  margin: 0;
  padding: 0;
}

body {
  width: 100%;
  height: 100%;
  font-family: "Fjalla One", sans-serif;
  padding: 0;
  margin: 0;
  background-color: #02111c;
  color: white;
}
.container {
  width: 100%;
  height: 100%;
}
.main-bg {
  width: 100%;
}

.topnav {
  padding: 0;
  width: 25%;
  margin-right: 30px;
  position: absolute;
  float: right;
  margin-left: 74%;
}
.topnav > li {
  display: block;
  float: left;
  padding: 0;
  margin: 50px;
  list-style-type: none;
  text-decoration: none;
  transition: all 0.5s ease-out;
}
.clearfix {
  clear: both;
}
.topnav > li a {
  margin-left: 80px;
  font-family: "Fjalla One", sans-serif;
  text-align: center;
  font-size: 25px;
  text-decoration: none;
  color: white;
  list-style-type: none;
  text-decoration: none;
  position: absolute;
}

.logo2 {
  float: left;
  position: absolute;
  background-color: #a61d42;
  border-bottom-right-radius: 80px;
  border-bottom-left-radius: 80px;
  padding: 15px;
  width: 125px;
  height: 200px;
  margin-left: 50px;
}
.topnav > li:hover {
  transform: scale(1.2);
  transition: all 0.5s ease-out;
}

.topnav > li a:hover {
  color: #a61d42;
  transition: all 0.5s ease-out;
}
/*
footer {
  background-color: #b89050;
  height: 300px;
  width: 100%;
}

footer img {
  margin-left: 47%;
  margin-top: 1%;
  width: 90px;
  height: 100px;
}

footer p {
  text-align: center;
  font-size: 30px;
}
p i {
  padding-left: 30px;
  font-size: 30px;
  margin-top: 20px;
}*/

.p-boddy {
  color: white;
}

.footer {
  width: 100%;
  height: 300px;
  background-color: #a61d42;
  text-align: center;
  padding: 20px 0;
  margin-top: 50px;
}

.footer img {
  width: 90px;
  height: 100px;
}
.footer span {
  font-size: 30px;
  color: #02111c;
}
.footer i {
  margin: 7px 10px;
  text-decoration: none;
  color: white;
  font-size: 30px;
}

.footer i:hover {
  color: #02111c;
}
/*
.footer form {
  border: 2px solid yellow;
  float: left;
}*/
.footer textarea {
  background-color: #02111c;
  color: white;
  float: left;
  resize: none;
  padding-left: 10px;
  padding-top: 5px;
  margin: 1% 10%;
  width: 300px;
  height: 100px;
  border: none;
  border-radius: 10px;
  outline: none;
  scrollbar-color: #a61d42;
  font-family: "Fjalla One", sans-serif;
  margin-right: 0;
}
::placeholder {
  font-family: "Fjalla One", sans-serif;

  color: white;
}

.footer .join-us {
  width: 150px;
  text-align: center;
  margin-top: 2.5%;
  margin-left: 30%;
  font-size: 30px;
  margin-right: 0;
}
.left-column {
  margin-left: 5%;
  margin-top: 2%;
  position: absolute;
}
.cr {
  margin-top: 50px;
}

.btn {
  font-family: "Fjalla One", sans-serif;
  font-size: 20px;
  padding: 5px;
  border-radius: 5px;
  border: none;
  color: white;
  background-color: #02111c;
  float: right;
  margin-left: 50px;
  margin-top: -40px;
}

.btn:hover {
  color: #a61d42;
  cursor: pointer;
}
.midnav {
  margin-top: 15px;
  margin-bottom: 30px;
  display: block;
  width: 35%;
  margin-left: 200px;
}
.midnav ul {
  width: 100%;
  list-style-type: none;
  float: left;
}
.midnav ul li {
  background-image: linear-gradient(17deg, rgb(166, 29, 66), rgb(124, 18, 47));
  float: left;
  padding: 15px;
  margin-left: 25px;
  box-sizing: border-box;
  border-radius: 10px;
  letter-spacing: 2px;
  text-decoration: none;
  color: white;
  font-size: 20px;
  cursor: pointer;
}
.midnav ul li:hover {
  transition: all 0.5s ease-in-out;
  color: #02111c;
}
/*.midnav ul li a {
  letter-spacing: 2px;
  text-decoration: none;
  color: white;
  font-size: 20px;
}
.midnav ul li a:hover {
  transition: all 0.5s ease-in-out;
  color: #02111c;
}*/

.hidden {
  display: none;
}

.midimg1 {
  width: 400px;
  height: 250px;
  margin-left: 100px;
  border: 7px solid #a61d42;
  border-radius: 7px;
}
.midimg2 {
  width: 400px;
  height: 250px;
  margin-left: 250px;
  border: 7px solid #a61d42;
  border-radius: 7px;
}
.midimg3 {
  width: 400px;
  height: 250px;
  margin-left: 250px;
  border: 7px solid #a61d42;
  border-radius: 7px;
}
.midimg4 {
  width: 400px;
  height: 250px;
  margin-left: 250px;
  border: 7px solid #a61d42;
  border-radius: 7px;
}
.midimg5 {
  width: 400px;
  height: 250px;
  margin-left: 250px;
  border: 7px solid #a61d42;
  border-radius: 7px;
}
